<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceMantenedorControlSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMantenedorControlSoap1" />
                <binding name="WebServiceMantenedorDiagnosticoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMantenedorDiagnosticoSoap1" />
                <binding name="WebServiceMantenedorMedicoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMantenedorMedicoSoap1" />
                <binding name="WebServiceMantenedorPacienteSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMantenedorPacienteSoap1" />
                <binding name="WebServiceMantenedorRecetaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMantenedorRecetaSoap1" />
                <binding name="WebServiceNegocioControlSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceNegocioControlSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44374/WebServiceMantenedorControl.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorControlSoap"
                contract="ServiceManControl.WebServiceMantenedorControlSoap"
                name="WebServiceMantenedorControlSoap" />
            <endpoint address="https://localhost:44374/WebServiceMantenedorDiagnostico.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorDiagnosticoSoap"
                contract="ServiceManDiagnostico.WebServiceMantenedorDiagnosticoSoap"
                name="WebServiceMantenedorDiagnosticoSoap" />
            <endpoint address="https://localhost:44374/WebServiceMantenedorMedico.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorMedicoSoap"
                contract="ServiceManMedico.WebServiceMantenedorMedicoSoap"
                name="WebServiceMantenedorMedicoSoap" />
            <endpoint address="https://localhost:44374/WebServiceMantenedorPaciente.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorPacienteSoap"
                contract="ServiceManPaciente.WebServiceMantenedorPacienteSoap"
                name="WebServiceMantenedorPacienteSoap" />
            <endpoint address="https://localhost:44374/WebServiceMantenedorReceta.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMantenedorRecetaSoap"
                contract="ServiceManReceta.WebServiceMantenedorRecetaSoap"
                name="WebServiceMantenedorRecetaSoap" />
            <endpoint address="https://localhost:44397/WebServiceNegocioControl.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceNegocioControlSoap"
                contract="ServiceNegCon.WebServiceNegocioControlSoap" name="WebServiceNegocioControlSoap" />
        </client>
    </system.serviceModel>
</configuration>
